__pycache__/
*.py[cod]
/test/
.venv/
/vsp-marp/
/assets/beamer/templates/offline-preview.pdf
/assets/beamer/templates/offline-preview.aux
/assets/beamer/templates/offline-preview.fdb_latexmk
/assets/beamer/templates/offline-preview.fls
/assets/beamer/templates/offline-preview.log
/assets/beamer/templates/offline-preview.nav
/assets/beamer/templates/offline-preview.out
/assets/beamer/templates/offline-preview.snm
/assets/beamer/templates/offline-preview.toc
/.pipeline/
/.plan-state/
/古明地雷小玛丽_蒋烨_小玛丽workflow.md
